<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="customer" class="springprojectexamples.entities.Customer">
		<property name="name" value="Rohan Rajore"/>
		<property name="customerId" value="15"/>
		<!-- Below using property i am injecting the dependencies -->
		<property name="address" ref="addrBean1"/>
	</bean>
	
	<bean id="addrBean1" class="springprojectexamples.entities.Address">
		<property name="city" value="Pune"/>
		<property name="state" value="Maharashtra"/>
		<property name="country" value="India"/>
		<property name="addressId" value="1"/>
		
	</bean>
	
	<bean id="addrBean2" class="springprojectexamples.entities.Address">
		<property name="city" value="Indore"/>
		<property name="state" value="Madhya Pradesh"/>
		<property name="country" value="India"/>
		<property name="addressId" value="2"/>
		
	</bean>
	
	<bean id="personBean" class="springprojectexamples.entities.Person">
		<constructor-arg name="adharCardNumber" value="786745352879"/>
		<constructor-arg name="personName" value="Smith"/>
		<!-- Below we are injecting the dependencies  -->
		<constructor-arg name="residentialAddress" ref="addrBean1"/>
		<constructor-arg name="permanentAddress" ref="addrBean2"/>
	</bean> 
</beans>